<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$
HFMon config file:

server.data.port ..........
server.ctrl.port ..........
perseus.qrg_Hz ............ DDS frequency / Hz
perseus.fpga.samplerate ... samplingrate / Hz
Repack.BufferLengthSec .... buffer length in seconds for all following processors
Dump.SamplesPerFile ....... # samples / file
Dump.FileNamePattern ...... filename pattern for output
FFT.WindowFunction ........
  -->
<server>
  <debug filename="debug.log" level="2"></debug>
  <data port="18000"
	maxQueueDelay_Minutes="5" 
	maxQueueSize_MB="100"></data>
  <ctrl port="18001"></ctrl>
  <perseus samplerate="500000"
	   qrg_Hz    ="250000"
	   attenuator  ="0"
	   enableDither="1"
	   enablePreamp="0"	 
	   enablePresel="0"	 
	   USBBufferSize="16320">
    <CascadedPTimeLowPass>
      <Tau_Sec>600.</Tau_Sec>
      <Tau_Sec>60.</Tau_Sec>
    </CascadedPTimeLowPass>    
  </perseus>
</server>
<Repack>
  <BufferLengthSec>0.5</BufferLengthSec>
  <OverlapPercent>-100</OverlapPercent>
</Repack>
<FFT>
  <WindowFunction>Blackman</WindowFunction>
  <DataPath>Data</DataPath>
  <Actions>
    <L0>      
      <FindPeak>
	<Filter> 
	  <Type>LowPass</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>77.3e3</fMin>
	<fMax>77.7e3</fMax>
	<fRef>77.5e3</fRef>
	<minRatio>10</minRatio>
	<Name>DCF_77</Name>
      </FindPeak>
      <FindPeak>
	<Filter> 
	  <Type>LowPass</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>59.8e3</fMin>
	<fMax>60.2e3</fMax>
	<fRef>60.0e3</fRef>
	<minRatio>30</minRatio>
	<Name>GXX_60</Name>
      </FindPeak>
      <FindPeak>
	<Filter> 
	  <Type>LowPass</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>74.8e3</fMin>
	<fMax>75.2e3</fMax>
	<fRef>75.0e3</fRef>
	<minRatio>10</minRatio>
	<Name>HBG_75</Name>
      </FindPeak>
      <FindPeak>
	<Filter> 
	  <Type>LowPass</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>161.8e3</fMin>
	<fMax>162.2e3</fMax>
	<fRef>162.0e3</fRef>
	<minRatio>10</minRatio>
	<Name>TDF_162</Name>
      </FindPeak>
    </L0>
    <L1>
      <Calibrator>
	<Inputs>
	  <Input>L0.TDF_162</Input>
	  <Input>L0.HBG_75</Input>
	  <Input>L0.DCF_77</Input>
	  <Input>L0.GXX_60</Input>
	</Inputs>
	<Name>CAL</Name>
      </Calibrator>
    </L1>
    <L2>
      <FindPeak>
	<Filter> 
	  <Type>None</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>59.8e3</fMin>
	<fMax>60.2e3</fMax>
	<fRef>60.0e3</fRef>
	<minRatio>30</minRatio>
	<Name>GXX_60</Name>
      </FindPeak>
      <FindPeak>
	<Filter> 
	  <Type>None</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>77.3e3</fMin>
	<fMax>77.7e3</fMax>
	<fRef>77.5e3</fRef>
	<minRatio>10</minRatio>
	<Name>DCF_77</Name>
	<Calibration>L1.CAL</Calibration>
      </FindPeak>
      <FindPeak>
	<Filter> 
	  <Type>None</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>176.8e3</fMin>
	<fMax>177.2e3</fMax>
	<fRef>177.0e3</fRef>
	<minRatio>10</minRatio>
	<Name>DRKultur</Name>
	<PlotSpectrum>true</PlotSpectrum>
	<Calibration>L1.CAL</Calibration>
      </FindPeak>
      <FindPeak>
	<Filter> 
	  <Type>None</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>138.0e3</fMin>
	<fMax>140.0e3</fMax>
	<fRef>139.0e3</fRef>
	<minRatio>10</minRatio>
	<Name>EFR_Burg_Peak</Name>
	<PlotSpectrum>true</PlotSpectrum>
	<Calibration>L1.CAL</Calibration>
      </FindPeak>
      <AverageDensity>
	<Filter> 
	  <Type>None</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>138.0e3</fMin>
	<fMax>140.0e3</fMax>
	<fRef>138.830e3</fRef>
	<bandwidth>10</bandwidth>
	<Name>EFR_Burg</Name>
	<PlotSpectrum>true</PlotSpectrum>
	<Calibration>L1.CAL</Calibration>
      </AverageDensity>
      <FSKStrength>
	<Name>EFR_Burg_FSK</Name>
	<minRatio>1</minRatio>
	<fRef>139.0e3</fRef>
	<fShift>170</fShift>
	<Calibration>L1.CAL</Calibration>
      </FSKStrength>
    </L2>
  </Actions>
</FFT>
<Dump>
  <SamplesPerFile>1000000</SamplesPerFile>
  <FileNamePattern>data_%08X.bin</FileNamePattern>
</Dump>
