<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$
HFMon config file:

server.data.port ..........
server.ctrl.port ..........
perseus.qrg_Hz ............ DDS frequency / Hz
perseus.fpga.samplerate ... samplingrate / Hz
Repack.BufferLengthSec .... buffer length in seconds for all following processors
Dump.SamplesPerFile ....... # samples / file
Dump.FileNamePattern ...... filename pattern for output
FFT.WindowFunction ........
------------------------------------------------------------------------------->
<debug>
  <filename>debug.log</filename>
  <level>2</level>
</debug>
<server>
  <data><port>18000</port> </data>
  <ctrl><port>18001</port></ctrl>
</server>
<perseus>
  <USBBufferSize>16320</USBBufferSize>
  <qrg_Hz>250000</qrg_Hz>
  <fpga>
    <samplerate>500000</samplerate>
<!--
    <samplerate>95000</samplerate>
    <samplerate>125000</samplerate>
    <samplerate>500000</samplerate>
    <samplerate>1000000</samplerate>
    <samplerate>2000000</samplerate> 
-->
  </fpga>
</perseus>
<Repack>
  <BufferLengthSec>1.0</BufferLengthSec>
  <Overlap>0.0</Overlap>
</Repack>
<FFT>
  <WindowFunction>Blackman</WindowFunction>
  <DataPath>Data</DataPath>
  <Actions>
    <L0>      
      <FindPeak>
	<Filter> 
	  <Type>LowPass</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>77.2e3</fMin>
	<fMax>77.7e3</fMax>
	<fRef>77.5e3</fRef>
	<minRatio>10</minRatio>
	<Name>DCF_77</Name>
      </FindPeak>
      <FindPeak>
	<Filter> 
	  <Type>LowPass</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>59.8e3</fMin>
	<fMax>60.2e3</fMax>
	<fRef>60.0e3</fRef>
	<minRatio>30</minRatio>
	<Name>GXX_60</Name>
      </FindPeak>
      <FindPeak>
	<Filter> 
	  <Type>LowPass</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>74.8e3</fMin>
	<fMax>75.2e3</fMax>
	<fRef>75.0e3</fRef>
	<minRatio>10</minRatio>
	<Name>HBG_75</Name>
      </FindPeak>
      <FindPeak>
	<Filter> 
	  <Type>LowPass</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>161.8e3</fMin>
	<fMax>162.2e3</fMax>
	<fRef>162.0e3</fRef>
	<minRatio>10</minRatio>
	<Name>TDF_162</Name>
      </FindPeak>
    </L0>
    <L1>
      <Calibrator>
	<Inputs>
	  <Input>L0.TDF_162</Input>
	  <Input>L0.HBG_75</Input>
	  <Input>L0.DCF_77</Input>
	  <Input>L0.GXX_60</Input>
	</Inputs>
	<Name>CAL</Name>
      </Calibrator>
    </L1>
    <L2>
      <FindPeak>
	<Filter> 
	  <Type>LowPass</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>77.2e3</fMin>
	<fMax>77.7e3</fMax>
	<fRef>77.5e3</fRef>
	<minRatio>10</minRatio>
	<Name>DCF_77</Name>
	<Calibration>L1.CAL</Calibration>
      </FindPeak>
      <FindPeak>
	<Filter> 
	  <Type>None</Type>
	  <TimeConstant>60.0</TimeConstant>
	</Filter>
	<fMin>176.8e3</fMin>
	<fMax>177.2e3</fMax>
	<fRef>177.0e3</fRef>
	<minRatio>10</minRatio>
	<Name>DRKultur</Name>
	<Calibration>L1.CAL</Calibration>
      </FindPeak>
    </L2>
  </Actions>
</FFT>
<Dump>
  <SamplesPerFile>1000000</SamplesPerFile>
  <FileNamePattern>data_%08X.bin</FileNamePattern>
</Dump>
<!--
    <L2>
    <FieldStrengthRecorder>
    <Name>TDF_162</Name>	
    <Filter>
    <Type>None</Type>
    </Filter>
    <frequency>162</frequency>
    <bandwidth>10</bandwitdth>
    <CalibrationKey>L1.CAL</CalibrationKey>
    </FieldStrengthRecorder>
      <RecordFieldStrength>
	<Function>max</Function>
	<fRef>153e3</fRef>
	<Bandwidth>20</Bandwidth>
	<Name>153_max</Name>
	<Calibration>L1.CAL</Calibration>
      </RecordFieldStrength>
      <RecordFieldStrength>
	<Function>max</Function>
	<fRef>225e3</fRef>
	<Bandwidth>20</Bandwidth>
	<Name>225_max</Name>
	<Calibration>L1.CAL</Calibration>
      </RecordFieldStrength>
    </L2>
-->
